<br />
<br />
<div class="tablespace">
    <fieldset>
        <legend>Missions On Julian Date: <%= julian %></legend>
<% if (missions.EOF) 
   { %>
        <p>Recordset is empty</p>
<% }   
   else
   { %>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>MissionID</th>
                        <th>Pilot</th>
                        <th>Tail Number</th>
                        <th>Model</th>
                        <th>ETD</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
            <% missions.forEach(flight => { %>
                    <tr>
                        <td> <%= flight.missionID %> </td>
                        <td> <%= flight.name %> </td>
                        <td> <%= flight.tailNum %> </td>
                        <td> <%= flight.model %> </td>
                        <td> <%= flight.ETD %> </td>
                        <td> <%= flight.julianDate %> </td>
                    </tr>
             <% }) %>
                </tbody>
            </table>
        </div>
 <% } %>
    </fieldset>
</div>  